body{
  background-color:#FEFAE0;
}
header{
  background-color:#606C38;
  border-radius:30px;
  width:90%;
  height:20vw;
  margin-right:auto;
  margin-left:auto;
  position:relative;
}
h1{
  position:absolute;
  top:0%;
  left:6%;
  font-size:4.5vw;
  text-align:center;
  line-height:1.2;
}
#subtitle{
  font-size:2.5vw;
}
nav{
  font-size:2.5vw;
  position:absolute;
  bottom:10%;
  left:7%;
}
a{
 color:black; 
}
a:hover{
  color:#FEFAE0;
}
#currentPage{
  color:#FEFAE0;
}
#self{
  border-radius:50%;
  width:18vw;
  position:absolute;
  right:8%;
  padding:15px;
}
h1, h2, h3, nav{
  font-family: 'Special Elite', cursive;
}
p{
  font-family: 'Courier Prime', monospace;
  font-size:1.5vw;
 
}
section{
  padding:3%;
  margin:20px;
  margin-top:3vw;
  text-align:center;
  background-color:#DDA15E;
  border-radius:30px;
}
h2{
  font-size:5.0vw;
  margin:0px;
  padding:1vw;
}
span{
  font-size:3.0vw;
}

